*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #150F31;
}
.nav-left{
    padding-left: 30px;
}
.nav-left img{
    width: 260px;
}
.nav-right{
    justify-content: center;
    align-items: center;
}
.nav-item-right{
    display: flex;
    padding-right: 60px;
    padding-top: 28px;
}
.nav-right ul li{
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.nav-right ul li a{
    color: white;
    font-size: 18px;
}
.slide img{
    background: repeating-linear-gradient(
    to right,
    rgb(20, 28, 51),
    rgba(0, 0, 0, 0.726),
    rgba(0,0,0,0));
    width: 1349px;
}
.slide h1{
    position: relative;
    width: 50%;
    color: #150F31;
    bottom: 540px;
    left: 70px;
    font-size: 45px;
}
.slide h4{
    text-align: justify;
    position: relative;
    width: 40%;
    bottom: 530px;
    left: 70px;
    color: #150F31;
}
.button {
    position: relative;
    bottom: 500px;
    left: 70px;
    color: #292929;
    background-color: #F3AC46;
    font-size: 18px;
    width: 170px;
    height: 35px;
    border-radius: 6px;
    cursor: pointer;
}
.program h1{
    position: relative;
    color: #F3AC46;
    text-align: center;
    bottom: 180px;
    font-size: 40px;
}
.program h5{
    text-align: center;
    position: relative;
    bottom: 170px;
    font-size: 17px;
}
.all-program{
    display: grid;
    grid-template-columns: repeat(4, auto);
    bottom: 130px;
    margin: 0 30px 0 30px;
}
.program-item{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 25px 0 25px;
    border-radius: 10px;
    
}
.title{
    background-color: #4A55A2;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.title h1{
    color: white;
    padding: 10px 0 10px 0;
}
.price-program{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0 ;
}
.benefit-program{
    padding: 0 15px 0 15px;
}
.benefit-program h3{
    padding: 10px 5px 10px 5px;
}
.benefit-program h4{
    padding: 10px 0 10px 0;
}
.button-daftar{
    background-color: #F3AC46;
    width: 170px;
    height: 35px;
    border-radius: 6px;
    cursor: pointer; 
}

@media screen and (max-width:980px) {

}
